@use 'sass:color';

@use "partials/common" as *;


$alpha-headers: 0.85;
$alpha-article-1: 1;
$alpha-article-2: 0.75;


#content {
	flex: 1;
	padding: 2.5rem 0;

	&.wide { width: 80rem; }
	&.thin { width: 50rem; }

	> * { margin-bottom: 2.5rem; }
	h1 {
		margin-bottom: 1rem;

		@include font-std-3;
		color: color.change(black, $alpha: $alpha-headers);
	}

	.multi {
		width: 100%;
		
		@include spread-flex($split-equally: true);
		gap: 1.5rem;
	
		> hr { 
			@include flex-hr($type: row, $style: 2px solid $gray-2, $margin: 1rem);
		}
	}

	.article-list {
		display: flex;
		flex-direction: column;

		@include box-shadow($alpha-shadow, 4px);
		border-radius: 1rem;

		.article:nth-child(even) {
			background-color: #f2f2f2;
		}
	}

	.article {
		&.feature.small { height: 10rem; }
		&.feature.big { height: 14rem; }
		&.listed { height: 10rem; }

		&.feature {
			@include box-shadow($alpha-shadow, 4px);
			border-radius: 1rem;
		}

		text-decoration: none;
		&:hover {
			cursor: pointer;
			.rubrik { text-decoration: underline};
		}
	
		padding: 1rem;
		display: flex;
		gap: 1rem;
	
		&.feature.small .thumbnail {
			width: 30%;
			border-radius: 50%;
			align-self: center;
		}
		&.feature.big .thumbnail, &.listed .thumbnail {
			height: 100%;
			border-radius: 0.5rem;
		}
	
		.info {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
		&.feature .info {
			justify-content: center;
		}
		
		.type {
			@include font-article;
			font-family: "aboreto", sans-serif;
			font-size: 1.1rem; // todo set this as font size variable
			font-weight: 300;
			color: color.change(black, $alpha: $alpha-article-2);
		}
		.rubrik { 
			@include font-article-big;
			color: color.change(black, $alpha: $alpha-article-1);
		}
		.underrubrik { 
			@include font-article;
			color: color.change(black, $alpha: $alpha-article-2);
		}

		&.feature.small .skribent { display: none; }
		&.feature.big .skribent, &.listed .skribent {
			@include position-relatively;
			bottom: 0;
			right: 0;
	
			@include font-article-small;
			color: color.change(black, $alpha: $alpha-article-2);
	
			img {
				display: inline-block;
				vertical-align: middle;
				height: 1.4rem;
				border-radius: calc(1.4rem / 2);
			}
		}
	}
}

