@use "partials/all" as *;


#content {
	@include content-flex(2.5rem);
	
	section {
		@include content-flex(1rem);
	}

	.header {
		@include content-flex(0.5rem);
	}

	h1 {
		@include font($standard-font, large, $center-line: false);
		color: alpha(black, $header-alpha);
	}

	.search {	
		height: 2rem;

		display: flex;
		align-items: center;
		gap: 0.5rem;

		span {
			@include font($standard-font, medium);
		}

		input {
			height: 100%;
			width: 15rem;
			margin: 0.1rem 0;

			@include font($standard-font, small);
			padding: 0 0.5rem;
			border: none;
			border-radius: 0.5rem;

			background-color: $general-bgr-2;
			&:focus { background-color: white; }
		}
	}


	.multi {
		width: 100%;
		
		@include spread-flex($split-equally: true);
		gap: 1.5rem;
	
		> hr { 
			@include flex-hr($type: row, $style: 2px solid alpha(black, $hr-alpha), $margin: 1rem);
		}
	}

	.article-list {
		display: flex;
		flex-direction: column;

		@include box-shadow($shadow-alpha, 4px);
		border-radius: 1rem;

		.article:nth-child(even of :not(.hidden)) {
			background-color: $general-bgr-1;
		}
	}

	
	.article {
		&.hidden {
			display: none;
		}

		&.feature.small { height: 10rem; }
		&.feature.big { height: 14rem; }
		&.listed { height: 10rem; }

		&.feature {
			@include box-shadow($shadow-alpha, 4px);
			border-radius: 1rem;
		}

		text-decoration: none;
		&:hover {
			cursor: pointer;
			.rubrik { text-decoration: underline};
		}
	
		padding: 1rem;
		display: flex;
		gap: 1rem;
	
		&.feature.small .thumbnail {
			width: 30%;
			border-radius: 50%;
			align-self: center;
		}
		&.feature.big .thumbnail, &.listed .thumbnail {
			height: 100%;
			border-radius: 0.5rem;
		}
	
		.info {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
		&.feature .info {
			justify-content: center;
		}
		
		.type {
			@include font($article-header-font, small);
			color: black;
		}
		.rubrik { 
			@include font($article-header-font, medium);
			color: black;
		}
		.underrubrik { 
			@include font($article-font, small);
			color: alpha(black, $info-alpha);
		}

		&.feature.small .skribent { display: none; }
		&.feature.big .skribent, &.listed .skribent {
			@include position-relatively;
			bottom: 0;
			right: 0;
	
			@include font($article-font, tiny);
			color: alpha(black, $info-alpha);
	
			img {
				display: inline-block;
				vertical-align: middle;
				height: 1.4rem;
				border-radius: calc(1.4rem / 2);
			}
		}
	}
}

