@use "partials/all" as *;

$side-menu-width: 16rem;
#side-menu {
	position: fixed;
	width: $side-menu-width;
	height: 100%;
	top: 0;
	
	right: -$side-menu-width;
	&.shown {
		right: 0;
	}
	transition: right 0.25s ease-out;
	
	background-color: $side-menu-bgr;
	color: white;
	z-index: 2;
	
	padding: calc($top-bar-height + 1rem) 2rem;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 1.25rem;

	.close-btn {
		$btn-size: 1.6rem;
		$top-dist: calc($top-bar-height / 2.0 - $btn-size / 2.0);
		
		position: absolute !important; // to override expand-area's position-relatively include
		left: calc($top-dist * 1.25);
		top: $top-dist;

		@include light-up(white, $nav-alpha, 1);
		@include expand-area(0.5rem);
		font-size: $btn-size;
	}

	a {
		@include font($standard-font, medium, $center-line: true);
		@include light-up(white, $nav-alpha, 1);
		@include expand-area(1.25rem);
		i { width: 1.5rem; text-align: right; }
	}
	
	hr { 
		@include flex-hr($type: column, $style: 1px solid alpha(white, $hr-alpha));
	}
}