@use "partials/common" as *;

$top-bar-height: 4.5rem;
$alpha-nav: 0.8;

#top-bar {
	position: fixed;
	height: $top-bar-height;
	width: 100%;
	top: 0;
	z-index: 99;

	@include box-shadow($alpha-shadow, 5px);
	background-color: $bgr-2;
	color: white;

	@include spread-flex($split-equally: true, $spread-children: true);
	padding: 0 4rem;
	user-select: none;

	.htgnyt {
		gap: 0rem;
		img { height: 3.25rem; }
		h1 {
			font-family: $font-header;
			@include font-size(1.7rem, true, true);
			font-weight: 300;

			margin-left: -0.6rem;
			background-color: $bgr-2;
			box-shadow: -8px 0 8px 0 $bgr-2;
		}
	}

	.nav {
		flex: 2;
		gap: 2rem;
		a {
			@include font-std-1($center-line: true);
			@include light-up(white, $alpha-nav, 1);
			@include expand-area(0.75rem);
			i { font-size: 0.9em; margin-right: 0.4em; }
		}
	}

	.menu button { 
		font-size: 1.75rem;
		@include light-up(white, $alpha-nav, 1);
		@include expand-area(0.5rem);
	}
}
#top-bar-space {
	width: 100%;
	flex: 0 0 $top-bar-height;
}