html {
	overflow: hidden;
	background: white;
}

* {
	visibility: hidden;
}

#m_Content_panel > section {
	position: absolute;
	top: 0;
	left: 0;
	margin: 5px;


	&, * {
		visibility: visible !important;
	}
}